{% extends 'blog/index.html' %}
{% block content %}

<h1>New post</h1>
<form method="POST" class="post-form">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
</div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button class="btn btn-danger" type="reset">Cancelar</button>
      </div>
    </div>
  </div>
</form>

<!--
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" class="form-control" placeholder="nombre...">
    </div>
  </div>


</div>
-->

{% endblock %}
